*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --rosa: #e06f9b;
    --avela: #c9dbdb;
    --perolado: #b7b8a2;
    --vermelho: #940000;
}

body {
    background-color: var(--perolado);
    color: var(--red);
    text-align: center;
  }
  
  .bg-informacao-container {
    margin: 15px 0 25px;
  font-size: 1.2rem;
}
  
.btn {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    color: var(--preto);
    background-color: var(--avela);
    background-image: linear-gradient(#d3c9d2, #beb9be);
    border-color: var(--avela);
    border-width: 3px;
  }
  
  .btn:hover {
    background-image: linear-gradient(#d3c9d2,#beb9be);
  }
  
